# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch/Safetensors specific
*.pt
*.pth
*.safetensors

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
